body{
    background-color: rgb(42, 170, 212);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
 }
 table{
   width: 100%;
   border-collapse: collapse;
 }
 h1{
    text-align: center;
 }
 h2{
   font-size:large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 thead{
  
    text-align: center;
    font-size: 18px;
 }
 th, td {
   border: 1px solid #ddd;
   padding: 8px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th {
   background-color: #f2f2f2;
}